<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>404页面</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- basic styles -->
	<link href="${assetsURL}/assets/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="${assetsURL}/assets/css/font-awesome.min.css" />
	<link rel="stylesheet" href="${assetsURL}/assets/css/ace.min.css" />
</head>

<body>
	<div class="page-content">
		<div class="row" style="margin: 0px;">
			<div class="col-xs-12">
				<div class="error-container">
					<div class="well">
						<h1 class="grey lighter smaller">
							<span class="blue bigger-125"> <i class="icon-sitemap"></i>
								404
							</span> Page Not Found
						</h1>

						<hr />
						<div class="space"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>