<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>500页面</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- basic styles -->
<link href="${assetsURL}/assets/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet"
	href="${assetsURL}/assets/css/font-awesome.min.css" />
<link rel="stylesheet" href="${assetsURL}/assets/css/ace.min.css" />
</head>

<body>
	<div class="page-content">
		<div class="row" style="margin: 0px;">
			<div class="col-xs-12">
				<div class="error-container">
					<div class="well">
						<h1 class="grey lighter smaller">
							<span class="blue bigger-125"> <i class="icon-random"></i>
								500
							</span> Something Went Wrong
						</h1>
						<hr />

						<div class="space"></div>

						<div>
							<h4 class="lighter smaller">错误原因:</h4>

							<ul class="list-unstyled spaced inline bigger-110 margin-15">
								<li><i class="icon-hand-right blue"></i>
									代码：${errorCode?!''}</li>
								<li><i class="icon-hand-right blue"></i>
									异常：${errorMessage?!''}</li>
							</ul>
						</div>

						<hr />
						<div class="space"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>